<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

  <div id="app">

      <shows></shows>
      <my-component></my-component>
      <post></post>

    
  </div>
  <template id="starwars">
      <div>
          <h2>Componente local </h2>
          <h3> personajes de start wars</h3>
          <ul>
              <li v-for="character in characters">
                  {{character.name}}
              </li>
          </ul>
      </div>
  </template>
 <script type="text/template" id="post">
     <div>

            <h2>tercer metodo</h2>
            <h3>Shows tv maze</h3>
            <ul>
                <li v-for="show in shows"> {{show.name}}</li>
            </ul>

        </div>

  </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      Vue.component('shows', {
          template :`
              <div>
                <h2>plantilla en el atributo template primer metodo</h2>
                <h3>Shows tv maze</h3>
                  <ul>
                     <li v-for="show in shows"> {{show.name}}</li>
                 </ul>

             </div>
            `,
          mounted(){
              axios.get('http://api.tvmaze.com/shows').then(res=>{
                  console.log(res);
                  this.shows = res.data
              })
          },
          data(){
              return{
                  shows: []
              }
          }

      });

      /*segundo metodo*/
      var Child = {
          template :'#starwars',
          mounted(){
              axios.get('https://swapi.co/api/people/').then(res=>{
                  console.log(res)
                  this.characters = res.data.results
              })
          },
          data(){
              return{
                  characters:[]
              }
          }

      }

      /*TERCER METODO*/

      Vue.component('post', {
          template :'#post',
          mounted(){
              axios.get('http://api.tvmaze.com/shows').then(res=>{
                  console.log(res);
                  this.shows = res.data
              })
          },
          data(){
              return{
                  shows: []
              }
          }

      });


      const mv = new Vue({
          el: '#app',
          //los componentes locales se declaran dentro de la instancia
          components: {
              // <my-component> solo estará disponible en la plantilla del padre
              'my-component': Child,

          }
      })


  </script>
</body>
</html>