<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Básicos en Vue.js</title>
  <link rel="icon" href="https://vuejs.org/images/logo.png">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <main id="app">
    <h1>Básicos en Vue.js</h1>
    <a href="../">regresar</a>
    <form id="ContactForm" class="ContactForm">
      <legend>¿Que deseas enviar?</legend>
      <div align="center">
        <input v-model='formType' :value="true" name="formType" type="radio" id="opinion">
        <label for="opinion">Opinión</label>
        <input v-model='formType' :value="false" name="formType" type="radio" id="budget">
        <label for="budget">Presupuesto</label>
      </div>
      <legend>Formulario de 
        <span><!--propiedades computadas o propiedades dinamicas-->
          {{ formTite}}
      </span></legend>
      <input
      @keyup='validateData'
      type="text" 
      name="name" 
      title="Tu nombre"
      placeholder="Escribe tu nombre" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
      <input type="email" name="email" title="Tu email" placeholder="Escribe tu email" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
      required>

        <template v-if="!formType" >
            <input type="tel" name="phone" title="Tu teléfono" placeholder="Escribe tu teléfono" pattern="^[0-9]+$" required>
            <select name="services" required>
             <option v-for="service in services" 
                    :value="service.id"
                     v-text="service.name"></option>
          </select>

    </template>

    <template v-else>
      <input type="text" name="subject" title="Asunto a tratar" placeholder="Asunto a tratar" required>
    </template>
      <textarea name="comments" title="Tus comentarios" placeholder="Escribe tus comentarios" cols="50" rows="5" required></textarea>
      <input type="submit" value="enviar">
    </form>
    <pre>{{$data}}</pre>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
  var app = new Vue({
    el : '#app',
    data : {
      formType: true,
      message: {
        name : "",
        email : "",
        phone : "",
        subject : "",
        comments : "",
        serverResponse : ""
      },
       services : [
        {
          id : null, name: 'selecciona un servicio'
        },
        {
          id : 1, name: 'diseo grafico'
        },
        {
          id : 2, name: 'diseño web'
        },
        {
          id : 3, name: 'programacion web'
        },
        {
          id : 4, name: 'programacion movil'
        },
        {
          id : 5, name: 'marketing digital'
        },
      ],
      formats : {
        name: '',
        correo : ''
      },
      serverResponse: false
    },
    computed : {
          formTite(){
            return (this.formType) ? 'OPINION' : 'PRESUPUESTO'
          }
      },
    
      methods : {
        validateData(e){
            var input = e.target,
            expresion
            if(input.pattern){
              var regex = new RegExp(input.pattern) //objeto para crear expresion regular
              expresion = !regex.exec(input.value) // si la expresion regular no coincide 
                           // con lo que esta introduciendo como valor del input 
            }
            else{
                expresion = !input.value
            }

            if(expresion){
              this.message[input.name] =` Datos incorrecto, ${input.title}`
            }
            else{
              this.message[message.name] = ''
            }
        },
        sendForm(e){

        }
      }


  })
  
  </script>
</body>
</html>
